<%-include("partials/header")-%>
    <div class="cart-main">
        <div class="left-side-cart">
            <div class="header-cart">
                <h1>YOUR CART</h1>
            </div>
            <%for(let i=0; i < shoeArray.length; i++){%>
                <span class="items-box">
                    <span class="items-box-left">
                        <img class="shoe-image-cart" src="<%=shoeArray[i].img_cart%>" alt="nike_air_huarache">
                        <ul>
                            <li>
                                <h1>
                                    <%=shoeArray[i].name%>
                                </h1>
                            </li>
                            <li>
                                <h4>SIZE: UK 9</h4>
                            </li>
                            <li>
                                <h4>
                                    <%=shoeArray[i].productId%>
                                </h4>
                            </li>
                            <li><button type="button">Remove</button></li>
                        </ul>
                    </span>
                    <h2><%=shoeArray[i].price%></h2>
                </span>
                <hr>
           <%}%>
            <div class="right-side-cart">
                <h2>Summary</h2>
                <div class="summary-details">
                    <span class="subtotal-box">
                        <h3>SubTotal</h3>
                        <h3>$<%=subTotal%></h3>
                    </span>
                    <span class="subtotal-box">
                        <h3>Delivery Fee</h3>
                        <h3>$12</h3>
                    </span>
                    <span class="subtotal-box">
                        <h3>tax</h3>
                        <h3>$15</h3>
                    </span>
                </div>
                <span class="total-box">
                    <h1>Total</h1>
                    <h2>$<%=total%></h2>
                </span>
                <button class="cart-check-out-btn" type="button">CHECK OUT</button>
            </div>
    </div>

 <script src="/js/cart.js"></script>

</body>
</html>